<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rocket.Q</title>

  <!-- fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">

  <!-- styles -->
  <link rel="stylesheet" href="/style/global.css">
  <link rel="stylesheet" href="/style/room.css">
  <link rel="stylesheet" href="/style/modal.css">

   <!-- scripts -->
   <script src="/scripts/main.js" defer type="module"></script>

  </head>

  <body>
      <!-- header --> 
  <div id="room" class="content">
      <header>
          <a href="/">
              <img style="margin: 3.5rem 0" src="/images/logo.svg" alt="Logo da aplicação">
          </a>
          <div class="buttons">
                <div class="button outlined" id= "room-id" data-id="<%= roomId %>">
                    #<%= roomId %>
                    <img src="/images/copy.svg" alt="Copiar número da sala">
                </div>
                <div class="buttons">
                  <a href="#" class="button">
                    Criar Sala
                    <img src="/images/users1.svg" alt="Copiar número da sala">
                  </a>
                </div>
          </div>
        </header>  

<!--principal page -->

        <main>
          <!-- questions box -->
            <section id="question-form">
                <h2>Faça sua Pergunta</h2>
                <form action="/question/create/<%= roomId %>" method="POST">
                    <label class="sr-only" for-id="question">O que gostaria de perguntar?</label>
                    <textarea name="question" id="question" placeholder="O que gostaria de perguntar?"></textarea>

                    <footer>
                        <div>
                          <img src="/images/lock.svg" alt="Cadeado"> 
                          Esta pergunta é anônima
                        </div>
                        <button>Enviar</button>
                    </footer>
                </form>
            </section>

          <!-- questions  -->
            <section id="questions">
                <h2 class="sr-only">Perguntas da Comunidade</h2>
                <div class="questions">

                    <!--QUESTION -->

                    <% questions.forEach(question => { %>
                      <div class="question-wrapper">
                        <div class="question-content">
                            <div class="user">
                                <img src="/images/avatar.svg" alt="Avatar do usuário">
                            </div>
                            <div class="question">
                              <p><%= question.title %></p>
                            </div>
                        </div>
                        <div class="actions">
                            <a href="#" class="check" data-id="<%= question.id %>">
                              <img src="/images/check.svg" alt="Marcar como lida">
                              Marcar como lida
                            </a>
                            <a href="#" class="delete"data-id="<%= question.id %>">
                              <img src="/images/trash.svg" alt="Excluir">
                              Excluir
                            </a>
                        </div>
                    </div>

                   <% }); %>

                    <!--QUESTION DISABLE-->
                    <% questionsRead.forEach(questionRead => { %>

                      <div class="question-wrapper read">
                        <div class="question-content">
                            <div class="user">
                                <img src="/images/avatar.svg" alt="Avatar do usuário">
                            </div>
                            <div class="question">
                              <p><%= questionRead.title %> </p>
                            </div>
                        </div>
                        <div class="actions">
                            <a href="#" class="delete" data-id="<%= questionRead.id %>">
                              <img src="/images/trash.svg" alt="Excluir">
                              Excluir
                            </a>
                        </div>
                    </div>

                   <% }); %>






              </div>
            </section>

        </main>
    </div>  
    
    <!--MODAL -->
        <div class="modal-wrapper">
            <div class="modal">
                <h2>Excluir Pergunta</h2>
                <p>
                  Tem certeza que deseja excluir essa pergunta?
                </p>

                <form action="#" method="POST">
                    <label for-id="password" class="sr-only">Digite sua Senha</label>
                    <input type="password" name="password" id="password" placeholder="Digite a Senha">

                    <div class="buttons">
                        <div class="button grey cancel">Cancelar</div>
                        <button class="red">Sim, Excluir</button>
                    </div>
                </form>
            </div>
        </div>
  </body>
</html>
